<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>use this</h1>

    <a href="/test1" target="_blank">test1.ejs</a>
    <a href="/test2" target="_blank">test2.ejs</a>
  </body>
</html>
