<!DOCTYPE html>
<html>
  <head>
    <title>ToMeFromMe</title>
    <%- include('../components/styles.ejs') %>
  </head>
  <body>
    <%- include('../components/header.ejs') %>
    <h1>키를 다시 확인하세요.</h1>
    <div class="letter-wrap">
      <div class="letter-wrap-content"></div>
    </div>
  </body>
</html>
