<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <%- include('../components/styles.ejs') %>
  </head>
  <body>
    <%- include('../components/header.ejs') %>
    <div class="letter-wrap">
      <div class="letter-wrap-content"></div>
    </div>
  </body>
</html>
