<!--편지 보여주는 뷰 -->
<!DOCTYPE html>
<html>
  <head>
    <title>ToMeFromMe</title>
    <%- include('partials/head.ejs') %>
  </head>
  <body>
    <%- include('partials/header.ejs') %>
    <div class="letter-wrap">
      <div class="letter-wrap-content">

      </div>
    </div>
    <!-- <%- include('partials/footer.ejs') %> -->
  </body>
</html>
