<!--편지 보여주는 모션 -->
<!DOCTYPE html>
<html>
  <head>
    <title>loading</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
    <link rel="stylesheet" href="/stylesheets/reset.css" />
    <link rel="stylesheet" href="/stylesheets/loading.css" />
    <script></script>
  </head>
  <body>
    <div class="wrapper">
      <div class="mail">
        <div class="cover"></div>
        <div class="letter">
          <div class="fire"></div>
        </div>
      </div>
    </div>
  </body>
</html>
