<!--편지 보여주는 모션 -->
<!DOCTYPE html>
<html>
  <head>
    <title>ToMeFromMe</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/reset.css' />
    <script>

    </script>
  </head>
  <body>
    <div class="background">
      <div></div>
    </div>
  </body>
</html>
