/* font */
@font-face {
  font-family: "MapoFlowerIsland";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/MapoFlowerIslandA.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

/* common */
*,
*:before,
*:after {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

input {
  outline: none;
}

button {
  cursor: pointer;
}

.container {
  max-width: 980px;
  margin: auto;
  padding: 0 40px;
}

/* header */
header {
  z-index: 100;
  position: fixed;
  width: 100vw;
  background: rgba(255, 255, 255, 0.7);
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px;
}

.header__logo {
  color: #3f51b4;
  font-size: 28px;
  font-weight: bold;
}

.header__nav {
  display: flex;
}
.header__nav li {
  margin-left: 30px;
}
.header__nav li a {
  color: #909090;
  font-size: 18px;
}
.header__nav li:hover a {
  color: #3f51b4;
}

@media screen and (max-width: 768px) {
  .container {
    padding: 0 20px;
  }
  header {
    position: absolute;
    background: none;
  }
  header .container {
    flex-direction: column;
    justify-content: center;
    height: 120px;
  }
  .header__nav {
    margin-top: 10px;
  }
  .header__nav li {
    margin: 0 20px;
  }
}
