
#loading{
  width:100%;
  height:100%;
  position:fixed;
  left:0px;
  top:0px;
  background:#fff;
  z-index:1000; /* 이 값으로 레이어의 위치를 조정합니다. */
}

body {
  background-color: #f6f8fd;
}

.loading-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.loading-mail {
  width: 300px;
  height: 200px;
  background-color: #3369bb;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  position: relative;
  transform-style: preserve-3d;
}

.loading-mail:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  border-left: 140px solid transparent;
  border-right: 150px solid #3f51b4;
  border-top: 100px solid transparent;
  border-bottom: 100px solid #3f51b4;
  border-bottom-right-radius: 10px;
  z-index: 5;
}

.loading-mail:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  border-left: 150px solid #3369bb;
  border-right: 140px solid transparent;
  border-top: 100px solid transparent;
  border-bottom: 100px solid #3369bb;
  border-bottom-left-radius: 10px;
  z-index: 4;
}

.loading-cover {
  position: absolute;
  top: 0;
  left: 0;
  border-left: 150px solid transparent;
  border-right: 150px solid transparent;
  border-top: 100px solid #5f83b8;
  border-bottom: 100px solid transparent;
  animation: openCover 0.5s ease-out both;
}

@keyframes openCover {
  from {
    transform-origin: top;
    transform: rotateX(0deg);
  }
  to {
    transform-origin: top;
    transform: rotateX(180deg);
  }
}

.loading-letter {
  position: absolute;
  z-index: 4;
  top: 0px;
  left: 10px;
  background-color: #f7f1e3;
  width: 280px;
  height: 180px;
  border-radius: 20px;
  animation: letterMove 0.3s 0.5s ease-out both;
}

.loading-letter .loading-fire {
  background-image: url("../images/fire@2x.png");
  background-size: cover;
  position: absolute;
  width: 100px;
  height: 120px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@keyframes letterMove {
  0% {
    transform: none;
  }
  100% {
    top: -80px;
    transition: 1s 1s ease;
  }
}