/* home */
.home__container {
  padding: 150px 0;
  background-position: left;
}
.home__container .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.home__title {
  font-size: 28px;
  line-height: 40px;
}

.home__form {
  display: flex;
  flex-direction: column;
}
.home__form input {
  width: 250px;
  margin-bottom: 10px;
  margin-right: 0;
}
.home__form button {
  width: 150px;
  margin: 20px auto;
}

.home__pages a {
  width: 100px;
  height: 100px;
  margin: 0 5px;
}
.home__pages a h3 {
  font-size: 15px;
  text-align: center;
  margin-bottom: 3px;
}

/* about */
.about__contents,
.about__contents.xxit {
  flex-direction: column;
  margin-bottom: 50px;
}
.about__contents img {
  width: 100%;
}

.about__title {
  margin-bottom: 50px;
}
.about__title h2 {
  font-size: 24px;
}
.content__title,
.about__title span:nth-of-type(2) {
  font-size: 20px;
}

/* contact */
.contact__socials::after {
  max-width: 100%;
}
.pages__page {
  width: 100px;
  height: 100px;
  margin: 0 5px;
}
.page__button {
  display: none;
}

.pages__page h3 {
  width: 80px;
  font-size: 18px;
  text-align: center;
  line-height: 18px;
}
.pages__page span {
  font-size: 14px;
  margin-top: 5px;
}

.pages__page :hover {
  background: #ffffff;
  color: #3f51b4;
}
.pages__page :hover > h3,
.pages__page :hover span {
  color: #3f51b4;
}

.contact__container {
  margin-top: 100px;
}

.contact__container small {
  font-size: 12px;
}
