<div class="pop_up__layout hidden">
    <div class="pop_up__body">
      <div id="pop_up_icon">
        <img src="../images/icons/bullhorn.svg" alt="icon" width="31.46px" height="31.51px">
      </div>
      <div id="pop_up_text">
        <div id="pop_up_title">
          피드백을 주세요!
        </div>
        <div id="pop_up_contents">
          <a href="https://forms.gle/79uGgSfMAvEFEPZr7" target="_blank">클릭!</a>
        </div>
      </div>
      <div id="pop_up_close_button" >
        <img src="../images/icons/close-sharp.svg" alt="close_button" width="20.95px" height="20.95px">
      </div>
    </div>
  </div>
